
.sidebar ul {
  list-style-type: none;
  padding: 1px;
}

.sidebar li:first-child {
  margin-top: 20px; /* Add margin-top only for the first child */
}

.sidebar a {
  margin-top: 10px;
  line-height: 2.3rem;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  position: relative;
}

.sidebar a::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(244, 63, 95);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar a:hover {
  background-color: rgb(244, 63, 95);
  border-radius: 20px;
}

.sidebar a:hover::before {
  opacity: 1;
}

.sidebar a.active {
  background-color: rgb(244, 63, 95);
  color: white;
  width: 100%;
  border-radius: 20px;
}

.sidebar a.active::before {
  opacity: 1;
}
