.login-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .login-bg {
    position: absolute;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at center, #ff0000, transparent 10%), radial-gradient(circle at center, #ffa500, transparent 10%), radial-gradient(circle at center, #ffff00, transparent 10%), radial-gradient(circle at center, #00ff00, transparent 10%), radial-gradient(circle at center, #0000ff, transparent 10%), radial-gradient(circle at center, #0000ff, transparent 10%);
    animation: moveBg 8s linear infinite;
  }
  
  @keyframes moveBg {
    0% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(0%, 0%);
    }
  }